<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="views/styles.css" type="text/css">
        <title>My Webpage</title>
    </head>
    <body>
    <div class="container">

        <div class="h-feed">

        {% for post in posts %}

        <article class="h-{{ post.h }}">

            {% if post.files.photo is defined %}
            <img class="img-rounded img-responsive" src="{{ post.files.photo }}" />
            {% endif %}

            {% if post.title is defined %}
            <h1 class="p-name">{{ post.title }}</h1>
            {% endif %}

            {% if post.content is defined %}
            <div class="e-content">
                <p>{{ post.content }}</p>
            </div>
            {% endif %}

            <p>
            <a href="{{ post.url }}">
            <time class="dt-published" datetime="{{ post.published }}">{{ post.human_date }}</time>
            </a>
            </p>

        </article>

        {% endfor %}

    </div>

    </div>
    </body>
</html>
