{% include 'head.html' %}

<div class="container">

    <div class="h-feed">
        <h2 class="p-name">Latest</h2>
        {% for post in posts %}
        <article class="h-{{ post.h }}">
            {% if post.link_preview is defined %}
            <blockquote>
                <a class="u-like-of" href="{{ post.link_preview.url }}">{{ post.link_preview.url }}</a>
            </blockquote>
            {% endif %}
            {% if post.photo is defined %}
            <img class="u-photo img-rounded img-responsive" src="/{{ post.photo }}" />
            {% endif %}
            {% if post.title is defined %}
            <h1 class="p-name">{{ post.title }}</h1>
            {% endif %}
            {% if post.content is defined %}
            <div class="e-content">
                <p>{{ post.content|raw }}</p>
            </div>
            {% endif %}
            <div class="meta">
                <a class="u-url p-name" href="{{ post.url }}">
                    <time class="dt-published" datetime="{{ post.published }}">{{ post.human_date }}</time>
                </a>
                {% if post.tags is defined %}
                {% for tag in post.tags %}
                <span class="p-category">
                    <p>{{ tag }}</p>
                </span>
                {% endfor %}
                {% endif %}
            </div>
        </article>
        {% endfor %}
    </div>

    <div>
        {% for nav in feed_nav %}
            <h3>{{ nav.title }}</h3>
            <ul class="list-inline">
                {% for item in nav.items %}
                <li><a href="{{ item.link }}">{{ item.human }}</a></li>
                {% endfor %}
            </ul>
        {% endfor %}
    </div>

</div>

{% include 'tail.html' %}
