{% include 'head.html' %}

<div class="container">
    <div class="h-feed">

        {% for post in posts %}

        <article class="h-{{ post.h }}">

            {% if post.link_preview is defined %}
            <div>
                <a href="{{ post.link_preview.url }}">{{ post.link_preview.title }}</a>
            </div>
            {% endif %}

            {% if post.photo is defined %}
            <img class="u-photo img-rounded img-responsive" src="/{{ post.photo }}" />
            {% endif %}

            {% if post.title is defined %}
            <h1 class="p-name">{{ post.title }}</h1>
            {% endif %}

            {% if post.content is defined %}
            <div class="e-content">
                <p>{{ post.content|raw }}</p>
            </div>
            {% endif %}

            <p>
            <a class="u-url" href="{{ post.url }}">
                <time class="dt-published" datetime="{{ post.published }}">{{ post.human_date }}</time>
            </a>
            </p>

        </article>

        {% endfor %}

    </div>
</div>

{% include 'tail.html' %}
