<!DOCTYPE html>
<html lang="en">
    <head>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <link rel="stylesheet" href="/styles.css" type="text/css">

        <link rel="authorization_endpoint" href="https://indieauth.com/auth">
        <link rel="token_endpoint" href="https://tokens.indieauth.com/token">
        <link rel="micropub" href="https://j4y.co/micropub">
        <link rel="webmention" href="https://j4y.co/webmention">

        <title>j4y{% if page_title is defined %}:{{ page_title }}{% endif %}</title>

    </head>
    <body>

        <header>
            <nav class="navbar navbar-default navbar-fixed-top menu--top">
                <div class="">
                    <a class="navbar-brand" href="https://j4y.co">j4y.co</a>
                </div>
            </nav>
        </header>
