<!DOCTYPE html>
<html lang="en">
<head>

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="/pure-min.css">
<link rel="stylesheet" href="/grids-responsive-min.css">
<link rel="stylesheet" href="/styles.css" type="text/css">

<link rel="authorization_endpoint" href="https://indieauth.com/auth">
<link rel="token_endpoint" href="https://tokens.indieauth.com/token">
<link rel="micropub" href="https://j4y.co/micropub">
<link rel="webmention" href="https://j4y.co/webmention">

<title>j4y{% if page_title is defined %}:{{ page_title }}{% endif %}</title>

</head>
<body>

<header>
<nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" rel="me" href="https://j4y.co">j4y.co</a>
        </div>
    </div>
</nav>
</header>
