<div class="h-cite webmention webmention-valid">

    <div class="media">
        <div class="media-left media-middle">
            {% if author is not null %}
            <span class="u-author h-card post--author">
                <a class="p-name u-url" href="{{ author.properties.url.0 }}">
                    <img class="u-photo post--author-photo" src="{{ author.properties.photo.0 }}" alt="{{ author.properties.name.0 }}" />
                </a>
            </span>
            {% endif %}
        </div>
        <div class="media-body">
            <p class="p-content p-name">
                <a href="{{ author.properties.url.0 }}">{{ author.properties.name.0 }}</a> commented on <a href="{{ mention.target }}">your post</a>: "{{ mention.source_mf2.properties.content.0.html|raw }}" <time class="dt-published" datetime="{{ mention.published }}">{{ mention.published_human }}</time>
            </p>
        </div>
    </div>

</div>
