<div class="h-cite webmention webmention-{{ mention.valid }}">

    <div class="media">
        <div class="media-left media-middle">
            {% if author is not null %}
            <span class="u-author h-card post--author">
                <a class="p-name u-url" href="{{ author.properties.url.0 }}">
                    <img class="u-photo post--author-photo" src="{{ author.properties.photo.0 }}" alt="{{ author.properties.name.0 }}" />
                </a>
            </span>
            {% endif %}
        </div>
        <div class="media-body">
            {{ mention.body|raw }}
        </div>
    </div>

</div>

