{% include 'head.html' %}

<div class="container">

    <form action="/micropub" method="post" enctype='multipart/form-data'>

        <label for="photo">Photo:</label>
        <input type="file" name="photo" id="photo" accept="image/*;capture=camera" />

        <label for="published">published:</label>
        <input type="text" name="published" id="published" value="">

        <label for="content">Content:</label>
        <textarea id="content" name="content"></textarea>

        <input type="hidden" name="h" id="h" value="entry">
        <input type="submit" id="save" value="Save" />

    </form>

</div>

{% include 'tail.html' %}
