<article class="post h-entry">

    {{ photo|raw }}

    <div class="post--content">

        {% if post.get('summary') is not null %}
        <p>{{ post.get('summary') }} </p>
        {% endif %}

        {% if post.get('in-reply-to') is not null %}
        <a class="u-in-reply-to" href="{{ post.get('in-reply-to') }}">{{ post.get('in-reply-to') }}</a>
        {% endif %}

        {% if post.get('like-of') is not null %}
        <div class="">
            likes <a class="u-like-of" href="{{ post.get('like-of') }}">{{ post.get('like-of') }}</a>
        </div>
        {% endif %}

        {% if post.get('bookmark-of') is not null %}
        <div class="">
            <a class="u-bookmark-of" href="{{ post.get('bookmark-of') }}">{{ post.get('bookmark-of') }}</a>
        </div>
        {% endif %}

        {{ content|raw }}
    </div>

    <div class="post--meta">

        <a class="u-url" href="{{ url }}">
            <time class="dt-published" datetime="{{ post.get('published') }}">{{ post.get('published') }}</time>
        </a>

        {{ category|raw }}

        <a href="https://brid.gy/publish/facebook"></a>

        <a class="u-author" href="https://j4y.co"></a>

    </div>

</article>
