<div class="post h-entry base07-background">

    <div class="panel panel-default">

        {% if header %}
        <div class="panel-heading">
            {{ header|raw }}
        </div>
        {% endif %}

        {{ photo|raw }}

        {% if body %}
        <div class="panel-body">
            {{ body|raw }}
        </div>
        {% endif %}

        <div class="panel-footer">
            <div class="post--meta">
                {{ category|raw }}
                {{ url|raw }}
                <a href="https://brid.gy/publish/facebook"></a>
                <a class="u-author" href="https://j4y.co/"></a>
            </div>
        </div>

    </div>
</div>
