<article class="h-entry">

    <a class="u-like-of" href="{{ post.get('like-of') }}">{{ post.get('like-of') }}</a>
	{% if post.get('content')['html'] is defined %}
	<div class="e-content">
		{{ post.get('content')['html']|raw }}
	</div>
	{% endif %}

	<div class="meta">
		<time class="dt-published" datetime="{{ post.get('published') }}">{{ post.get('published') }}</time>

		{% for category in post.category %}
		<a class="p-category" href="/tag/{{ category }}">#{{ category }}</a>
		{% endfor %}

	</div>

</article>
