body {
    font-size: 18px;
    padding-top: 70px;
    color: #373b41;
    background-color: #e0e0e0;
}
p {
    margin: 0.2em;
}

a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
}

.menu--top {
    background-color: #333;
}

.page--body {
    max-width: 640px;
    margin: auto;
}

.post {
    background-color: #fff;
    margin: 0.3em;
}
.post--content * {
    word-wrap: break-word;
}
.post--photo {
    width: 100%;
}
.post--content {
    padding: 0.4em;
}
.post--meta {
    padding: 0.4em;
    border-top: 0.1em solid #e0e0e0;
}
.post--meta * {
    font-size: 0.8em;
}

.post--author {
    padding: 0.8em 0 0.8em 0;
}
.post--author-photo {
    width: 50px;
    vertical-align: middle;
    border-radius: 50%;
}

.webmention {
    background-color: #fff;
    padding: 0.4em;
    overflow-wrap: break-word;
    word-wrap: break-word;
    margin-bottom: 0.2em;
}
.webmention-invalid {
    border-left: 4px #cc6666 solid;
}
.webmention-valid {
    border-left: 4px #b5bd68 solid;
}
