body {
    font-size: 18px;
    padding-top: 70px;
}
p {
    margin: 0.1em;
}

a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
}

.page--body {
    max-width: 640px;
    margin: auto;
}

.post {
    margin: 0.3em;
}
.post--content * {
    word-wrap: break-word;
}
.post--photo {
    width: 100%;
}
.post--pad {
    padding: 0.4em;
}
.post--meta {
    line-height: 0.9em;
    text-align: right;
}
.post--meta * {
    color: #c5c8c6;
    font-size: 0.9em;
    font-weight: normal;
}

.post--author {
    padding: 0.8em 0 0.8em 0;
}
.post--author-photo {
    width: 50px;
    vertical-align: middle;
    border-radius: 50%;
}

.webmention {
    padding: 0.4em;
    overflow-wrap: break-word;
    word-wrap: break-word;
    margin-bottom: 0.2em;
}
.webmention-invalid {
    border-left: 4px #cc6666 solid;
}
.webmention-valid {
    border-left: 4px #b5bd68 solid;
}
