
<footer>
    <div class="pure-menu-horizontal">
        <a href="https://brid.gy/publish/facebook"></a>
        <div class="h-card">
            <ul class="pure-menu-list">
                <li class="pure-menu-item"><img class="u-photo" width="50px" src="http://j4y.co/profile_pic.jpeg" alt="" /></li>
                <li class="pure-menu-item"><a class="p-name u-url" rel="me" href="http://j4y.co">Jay Robinson</a></li>
                <li class="pure-menu-item"><a class="u-email" href="mailto:me@j4y.co" rel="me">Email</a></li>
                <li class="pure-menu-item"><a href="https://github.com/j4y-funabashi" rel="me">Github</a></li>
            </ul>
        </div>
    </div>
</footer>

</body>
</html>
